*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
li{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }
.video-content{
    position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(128, 128, 128, 0.103);
    /* background-color: red; */
    padding: 30px 30px;
    margin: 20px 0px;
    border-radius: 12px;
}
nav ul{
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    cursor: pointer;
    font-size: 18px;
}
nav ul li:hover{
    opacity: 0.6;
}

nav button{
    width: 150px;
    font-size: 18px;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.568);
}

.invitation-example{
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 12px;
}
.cards{
    width: 100%;
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
=======
    justify-content: left;
    gap: 30px;
>>>>>>> 5418c1c (Removed large video file and added updated files)
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
.card{
    width: 300px;
    height: 280px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 12px;
    /* align-items: center; */
    gap: 10px;
}
.card img{
    width: 100%;
    height: 200px;
}
.card button{
    font-size: 17px;
    padding: 10px 0px;
    background-color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    color: white;
    
}